In [1]:
import sys
sys.path.insert(0,'../configuration/')
sys.path.insert(1,'../ingestion/')

In [2]:
import sconfig

secretAPI = sconfig.secretsConfig()

In [3]:
secretAPI.Tokens.financialmodelingprep

loading yaml file d:\data\development\FinAnalytics\FinancialAnalytics_Bits\configuration\yaml\config.yml

'b4f2458f9e0bec0559cc05b5a7855a0d'

In [ ]:
print(secretAPI.secretsValue)
print(type(secretAPI.secretsValue))

In [ ]:
from types import SimpleNamespace
nt = SimpleNamespace(**secretAPI.secretsValue['tokens'])

In [ ]:
from newsapi import NewsApiClient

# Init
newsapi = NewsApiClient(api_key=secretAPI.Tokens.newspi)

# /v2/top-headlines
top_headlines = newsapi.get_everything(q='Salesforce.Com Inc',
                                          language='en',
                                          from_param='2022-08-30',
                                          to='2022-09-22',
                                          )

In [ ]:
x=0 
for article in top_headlines['articles']:
    print(article)
    x=x+1
    if x == 2:
        break

In [2]:
from newAPIExtract import NewsAPIExtract
newsAPI = NewsAPIExtract()
newsAPI.extractDJIACompaniesNews()

loading yaml file d:\data\development\FinAnalytics\FinancialAnalytics_Bits\configuration\yaml\config.yml

In [4]:
newsAPI.DJIACompaniesNewsSummarizedDF

AttributeError: 'NoneType' object has no attribute 'groupby'

In [14]:
df = newsAPI.DJIACompaniesNewAPIDf.groupby('symbol').agg(
   **{
    'publishedAt_Max' :('publishedAt', 'max'),
    'publishedAt_Min' :('publishedAt', 'min'),
    'record_count' :('symbol', 'count'),
   } 
).reset_index()

In [20]:
df

   symbol       publishedAt_Max       publishedAt_Min  record_count
0    AAPL  2022-10-21T20:06:14Z  2022-09-01T02:02:00Z           200
1    AMGN  2022-10-22T00:00:00Z  2022-09-01T10:22:00Z           200
2     AXP  2022-10-21T12:59:22Z  2022-09-01T10:00:04Z           200
3      BA  2022-10-22T00:54:12Z  2022-09-01T02:32:26Z           200
4     CAT  2022-10-21T18:00:00Z  2022-09-01T10:32:00Z           200
5     CRM  2022-10-21T13:09:00Z  2022-09-01T02:15:00Z           184
6    CSCO  2022-10-21T12:29:00Z  2022-09-01T07:00:00Z           200
7     CVX  2022-10-22T11:36:00Z  2022-09-01T09:18:00Z           200
8     DIS  2022-10-22T15:01:19Z  2022-09-01T04:19:42Z           200
9     DOW  2022-10-22T11:36:00Z  2022-09-01T01:07:12Z           200
10     GS  2022-10-22T12:14:40Z  2022-09-01T13:40:00Z           200
11     HD  2022-10-22T13:30:00Z  2022-09-01T11:11:59Z           200
12    HON  2022-10-21T13:30:00Z  2022-09-01T08:13:00Z           200
13    IBM  2022-10-21T02:16:12Z  2022-09-01T02:15:00Z           200
14   INTC  2022-10-21T18:17:06Z  2022-09-01T02:05:16Z           200
15    JNJ  2022-10-22T14:38:49Z  2022-09-01T09:22:36Z           200
16    JPM  2022-10-22T04:00:00Z  2022-09-01T07:18:20Z           200
17     KO  2022-10-20T11:35:00Z  2022-09-01T00:40:18Z           200
18    MCD  2022-10-21T21:40:29Z  2022-09-01T09:12:27Z           152
19    MMM  2022-10-22T00:46:00Z  2022-09-01T13:30:00Z           200
20    MRK  2022-10-21T16:34:55Z  2022-09-01T07:00:00Z           200
21   MSFT  2022-10-21T17:43:28Z  2022-09-01T15:15:00Z           200
22    NKE  2022-10-22T14:00:29Z  2022-09-01T10:03:00Z           200
23     PG  2022-10-21T14:00:00Z  2022-09-01T17:00:00Z           200
24    TRV  2022-10-21T17:49:07Z  2022-09-02T08:53:00Z           200
25    UNH  2022-10-20T20:55:00Z  2022-09-01T10:37:00Z           200
26      V  2022-10-22T15:15:34Z  2022-09-01T12:52:12Z           200
27     VZ  2022-10-21T21:22:05Z  2022-09-01T02:45:00Z           200
28    WBA  2022-10-21T04:08:53Z  2022-09-01T08:08:00Z           199
29    WMT  2022-10-21T10:09:00Z  2022-09-01T07:07:00Z           200

In [46]:
symbol = 'WMT'
date = datetime.datetime.strptime(
        df[df.symbol == symbol]['publishedAt_Max'].iloc[0],
        '%Y-%m-%dT%H:%M:%SZ'
).strftime(
    '%Y%m%d'
)
date
#date.iloc[0]
#max_date = datetime.datetime.strptime(date.iloc[0], '%Y-%m-%dT%H:%M:%SZ')
#max_date.strftime('%Y%m%d')

'20221021'

In [3]:
newsAPI.DJIACompaniesNewsAPIDf.tail()

,author,title,description,url,urlToImage,publishedAt,content,source.id,source.name,companyname,symbol
5930,PR Newswire,Adventures begin with Pixicade Pets!,"BitOGenius Inc., a revolutionary award-winning...",https://finance.yahoo.com/news/adventures-begi...,https://s.yimg.com/uu/api/res/1.2/6C9S_nGiyo5j...,2022-10-13T17:00:00Z,Create your own virtual pet universe with BitO...,None,Yahoo Entertainment,Walmart Inc,WMT
5931,Fahad Ali Khan,Analysts are Upgrading These 10 Stocks,"In this article, we will take a look at the 10...",https://finance.yahoo.com/news/analysts-upgrad...,https://s.yimg.com/uu/api/res/1.2/0spGaCCNnK9j...,2022-10-05T22:17:25Z,"In this article, we will take a look at the 10...",None,Yahoo Entertainment,Walmart Inc,WMT
5932,PR Newswire,Refurbished Smartphone Market to Record a CAGR...,One of the key drivers of the refurbished smar...,https://finance.yahoo.com/news/refurbished-sma...,https://s.yimg.com/uu/api/res/1.2/T.BACwfKCQ3d...,2022-09-28T22:45:00Z,"NEW YORK, Sept. 28, 2022 /PRNewswire/ -- One o...",None,Yahoo Entertainment,Walmart Inc,WMT
5933,Aishwarya Venugopal,U.S. Grocer Kroger Carts Away Albertsons For $...,Kroger Co snapped up Albertsons Cos Inc in a $...,https://www.ibtimes.com/us-grocer-kroger-carts...,https://d.ibtimes.com/en/full/3831125/illustra...,2022-10-14T15:18:31Z,Kroger logo is displayed in this illustration ...,None,International Business Times,Walmart Inc,WMT
5934,Reuters,"Amazon to hire 150,000 workers ahead of holida...","The world's largest online retailer, which hir...",https://news.yahoo.com/amazon-hire-150-000-wor...,https://s.yimg.com/uu/api/res/1.2/YrPhKW36xT52...,2022-10-06T12:08:51Z,(Reuters) - Amazon.com Inc said on Thursday it...,None,Yahoo Entertainment,Walmart Inc,WMT

In [1]:
import pandas as pd 

djia_new_api_df  = pd.read_parquet("D:\\data\development\\FinAnalytics\\stocks_data\\news_api\\")
djia_new_api_df.tail()

,author,title,description,url,urlToImage,publishedAt,content,source.id,source.name,companyname,symbol
2986,Reuters,U.S. holiday sales growth likely to slow as in...,Holiday spending growth is projected to slow t...,https://finance.yahoo.com/news/u-holiday-sales...,https://s.yimg.com/uu/api/res/1.2/7vYJaVsS8ZJZ...,2022-09-12T15:15:35Z,(Reuters) - U.S. sales growth is expected to s...,None,Yahoo Entertainment,Walmart Inc,WMT
2987,Usman Kabir,Billionaire Ray Dalio Is Selling These 10 Tech...,"In this article, we discuss the 10 tech stocks...",https://finance.yahoo.com/news/billionaire-ray...,https://s.yimg.com/uu/api/res/1.2/0f3xdHigKPR2...,2022-09-06T14:38:52Z,"In this article, we discuss the 10 tech stocks...",None,Yahoo Entertainment,Walmart Inc,WMT
2988,Fortune Business Insights,Toothbrush Market to Reach USD 9.14 Billion by...,Key companies covered in Toothbrush Market are...,https://finance.yahoo.com/news/toothbrush-mark...,https://s.yimg.com/ny/api/res/1.2/Dn34WsZwNyGG...,2022-09-22T08:47:00Z,Fortune Business Insights\r\nKey companies cov...,None,Yahoo Entertainment,Walmart Inc,WMT
2989,Muhammad Jamal Akbar,10 Blue Chip Stocks to Buy Now According to Bi...,"In this article, we will take a look at the 10...",https://finance.yahoo.com/news/10-blue-chip-st...,https://s.yimg.com/uu/api/res/1.2/eF8Ug8ZE43.1...,2022-09-17T15:22:24Z,"In this article, we will take a look at the 10...",None,Yahoo Entertainment,Walmart Inc,WMT
2990,Cointelegraph By Ezra Reguerra,Walmart dives into the Metaverse: Nifty Newsle...,Animoca Brands co-founder Yat Siu said that th...,https://cointelegraph.com/news/walmart-dives-i...,https://images.cointelegraph.com/images/1200_a...,2022-09-28T20:00:00Z,"In this weeks newsletter, read about how UNICE...",None,Cointelegraph,Walmart Inc,WMT

In [ ]:
import pandas as pd
headlines_pd = pd.json_normalize(top_headlines, ["articles"])

In [ ]:
headlines_pd